/* Custom styles */

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
}

/* Header */

header {
    background: #007bff;
    color: #ffffff;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff;
}

.navbar-nav .nav-link:hover {
    color: #cccccc;
}

/* Main Content */

main {
    padding: 2rem 0;
    background-color: #ffffff;
    border-radius: 5px;
}

h1 {
    font-weight: bold;
    color: #4a4a4a;
  }

.card {
    margin-bottom: 1.5rem;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title {
    font-size: 1.25rem;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #007bff;
    color: #ffffff;
    padding: 1.5rem 0;
}


#table-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  #table-container {
    overflow-x: auto;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .pagination {
    display: flex;
    white-space: nowrap;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    width: 100%;
    
  }
  
  .page-item {
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .page-item.active {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .page-link {
    padding: 5px 10px;
    background-color: #f8f9fa;
    color: #007bff;
    text-decoration: none;
  }

  .page-link:hover {
    background-color: #e9ecef;
  }

  #pagination-wrapper {
    max-width: 100%;
    overflow-x: auto;
  }
  
  #pagination-container {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
    white-space: nowrap;
    flex-wrap: wrap;
  }
  
  
  /* Add these styles at the end of your style.css file */

@media (max-width: 767px) {
    #table-container table {
      display: block;
      width: 100%;
    }
  
    #table-container thead,
    #table-container tbody {
      display: block;
      width: 100%;
    }
  
    #table-container tbody tr {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 5px;
    }
  
    #table-container th,
    #table-container td {
      display: block;
      text-align: left;
    }
  
    #table-container th {
      padding-bottom: 15px;
    }
  }
  